body {
    width: 400px;
    height: 0;
    margin: 2px 0;
    background-color: #dedede;
    background-image: url('../img/bg.png');
    overflow-x: hidden;
    text-align: center;
}

#title {
    background:rgba(255,255,255,.7);
    border-top: 2px solid #5e94b9;
    border-bottom: 2px solid #5e94b9;

    height: 26px;
    width: 100%;

    margin: 5px 0;
    padding: 10px 0;

    font-size: 24px;
    font-weight: bolder;
    color: #5e94b9;
}

/*
 * Notifications at the top of the popup. Success notes
 * are backgrounded in blue, fail notes are in red.
 */

#notification {
    height: 26px;
    width: 100%;

    font-size: 24px;
    font-weight: bolder;
    color: #fff;
}

.success {
    /*background:rgba(95,186,110,.7);*/
    /*border: 2px 0 solid #5fba6e;*/

    background:rgba(94,148,185,.7);
    /*border-top: 2px 0 solid #5e94b9;*/
}

.fail {
    background:rgba(186,95,95,.7);
    /*border: 22px 0 solid #ba5f5f;*/
}

/*
 * User input area
 */

#user-input {
    height: 152px;
}

textarea {
    resize:none;
    outline: none;
    border: 2px solid #000;
    border-radius: 5px;

    width: 300px;
    margin: 10px;

    font-size: 14px;
}


/*
 * Display the citation
 */

#result {
    display: none;
    height: 152px;
}

#citation {
    height: 120px;
}



/*
 * Buttons
 */
button {
    position: relative;
    vertical-align: top;
    padding: 20px;
    /*border: 2px solid;*/
    /*border-radius: 2px;*/

    margin: 10px 5px 15px 5px;
    width: 200px;
    /*height: 40px;*/

    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;

    background: #fff;
    border-color: #000;
    border: 4px solid;
    border-radius: 100px;
    color: #000;

    outline: none;
}

button:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

#reset {
    display: none;
}
